# This file is for unifying the coding style for different editors and IDEs
# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = tab
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
